{% extends 'base.base' %}
{% set pageTitle = '403: Forbidden' %}
{% set noDefaultH1 = true %}
{% block content %}
    <div class="row m-4">
        <div class="col">
            <strong>We're sorry; access to this page is restricted.</strong>
            <p>If you believe you <em>should</em> have access, please contact the administrator.</p><br>
            <a href="{{ route('visitor.address.index') }}">Back to Home Page</a>
        </div>
    </div>

{% endblock %}