/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/css/*
/public/favicons/*
/public/fonts/*
/public/js/*
/public/images/*
/public/mix-manifest.json
/storage/*.key
/storage/pail
/storage/proxies
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
.bash_history
/vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot
storage/*.key
/.vagrant
*.log
.DS_Store
/auth.json
Thumbs.db
