includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    level: 9
    excludePaths:
        - 'app/Http/Controllers/'
        - 'app/Http/Requests/'