{% extends 'base.base' %}
{% block content %}
    <div class="row m-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Search</h2>
                </div>
                <div class="card-body">
                    {% embed 'search.partials._search' %}{% endembed %}
                </div>
            </div>
        </div>
    </div>


    <div class="row m-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">{{ pageTitle }}</h1>
                </div>
                <div class="card-body">
                   {%  embed 'address.partials._addresstable' with {'addresses': addresses} %}{% endembed %}
                    <a class="btn btn-primary" href="{{ route('visitor.address.create') }}">Create a new Address</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}