<div class="btn-group">
    <a class="btn btn-info" href="{{ route('visitor.address.get', {'id': address.getId}) }}">
        View
    </a>
    <a href="{{ route('visitor.address.edit', {
        'id': address.getId()
    }) }}" class="btn btn-primary">Edit</a>
    <a href="{{ route('visitor.address.deleteConfirm', {
        'id': address.getId()
    }) }}" class="btn btn-danger">Delete</a>
</div>